.acp-cookie-popup {
    position: fixed;
    z-index: 9999;
    display: none;
    font-family: Arial, sans-serif;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.acp-position-bottom {
    bottom: 0;
    left: 0;
    right: 0;
}

.acp-position-top {
    top: 0;
    left: 0;
    right: 0;
}

.acp-position-top-left {
    top: 20px;
    left: 20px;
    max-width: 300px;
}

.acp-position-top-right {
    top: 20px;
    right: 20px;
    max-width: 300px;
}

.acp-position-bottom-left {
    bottom: 20px;
    left: 20px;
    max-width: 300px;
}

.acp-position-bottom-right {
    bottom: 20px;
    right: 20px;
    max-width: 300px;
}

.cookie-popup { 
    background-color: #2c3e50; /* Dark blue background */
    color: #ffffff; /* White text */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

@keyframes acp-slide-up {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

.acp-cookie-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acp-cookie-text {
    flex: 1;
    padding-right: 20px;
}

.acp-cookie-title {
    margin: 0 0 5px;
    font-weight: bold;
}

.acp-cookie-message {
    margin: 0;
}

.acp-cookie-actions {
    display: flex;
    align-items: center;
}

.acp-button {
    display: inline-block;
    padding: 8px 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: opacity 0.3s ease;
    margin-left: 10px;
}

.acp-button:hover {
    opacity: 0.8;
}

.acp-cookie-policy-link {
    text-decoration: underline;
    /* margin-left: 20px; */
    transition: opacity 0.3s ease;
}

.acp-cookie-policy-link:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .acp-cookie-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .acp-cookie-text {
        padding-right: 0;
        margin-bottom: 15px;
    }

    .acp-cookie-actions {
        flex-wrap: wrap;
    }

    .acp-button {
        margin: 5px 10px 5px 0;
    }

    .acp-cookie-policy-link {
        margin: 10px 0 0;
    }
}